<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout}">

<div layout:fragment="content" class="container my-3">
  <h2 class="border-bottom py-2" th:text="${post.subject}"></h2>

  <div class="card my-3">
    <div class="card-body">
      <div class="toast-ui-viewer">
        <script type="text/x-template" sp>
          [[${post.content}]]
        </script>
      </div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-light text-dark p-2 text-start">
          <div th:text="|작성일 : ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}|"></div>
          <div th:text="|수정일 : ${#temporals.format(post.updatedDate, 'yyyy-MM-dd HH:mm')}|"></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a th:href="@{|/post/${post.id}/delete|}" class="btn btn-danger" th:text="삭제"></a>
    <a th:href="@{|/post/${post.id}/modify|}" class="btn btn-success" th:text="수정"></a>
  </div>
</div>
</body>
</html>